#cageGeneralContainer {
	position: fixed;
	width: 770px;
}
#cageGeneralImageContainer {
	background-image: url(http://image4.castleagegame.com/graphics/marble.jpg);
	border: 1px solid #000;
	height: 92px;
	overflow: hidden;
	position: absolute;
	right: 8px;
	top: 2px;
	width: 92px;
	z-index: 3;
}
#cageGeneralImage {
	cursor: pointer;
	height: 92px;
}
#cageGeneralSelector {
	box-shadow: 0 10px 20px #000;
	display: none;
	margin-left: 10px;
	padding: 40px 25px 5px 22px;
	position: fixed;
	top: 110px;
	width: 702px;
	z-index: 3;
}
#cageSelectorInfo {
	bottom: 0;
	display: block;
	height: 20px;
	left: 0;
	line-height: 20px;
	margin: -10px 0 5px;
	text-align: center;
	width: 100%;
}
#cageAllGenerals {
	padding-bottom: 10px;
}
#cageAllGenerals > div {
	border: 1px solid transparent;
	border-radius: 5px;
	display: inline-block;
	height: 50px;
	margin: 1px;
}
#cageAllGenerals > div:hover {
	border: 1px solid #26B3F7 !important;
}
#cageAllGenerals > div > img:first-child {
	border-radius: 4px;
	cursor: pointer;
	width: 50px;
}
#cageFavouriteGenerals {
	padding: 4px 0 2px;
}
#cageFavouriteGenerals > div {
	border-radius: 5px;
	box-shadow: 0 0 5px 2px #1482D2;
	display: inline-block;
	height: 70px;
	margin: 4px;
}
#cageFavouriteGenerals > div > img:first-child {
	border-radius: 4px;
	cursor: pointer;
	width: 70px;
}
.cageCharge {
	background-color: #26B3F7;
	border-radius: 6px;
	display: inline-block;
	left: -100%;
	margin-right: -6px;
	opacity: .8;
	position: relative;
	width: 6px;
}
#cageGeneralName {
	background: #000;
	border-bottom-left-radius: 4px;
	color: #FFF;
	height: 16px;
	opacity: 0.8;
	padding: 1px;
	position: absolute;
	right: 103px;
	text-align: center;
	top: 3px;
	white-space: nowrap;
	width: 107px;
	z-index: 3;
}
#cageGeneralAttImg {
	height: 16px;
	position: absolute;
	right: 107px;
	top: 36px;
	width: 16px;
	z-index: 4;
}
#cageGeneralAttack {
	background: #000;
	color: #FFF;
	height: 19px;
	opacity: 0.75;
	padding-bottom: 18px;
	position: absolute;
	right: 103px;
	text-align: center;
	top: 21px;
	width: 24px;
	z-index: 3;
}
#cageGeneralDefImg {
	height: 16px;
	position: absolute;
	right: 107px;
	top: 59px;
	width: 16px;
	z-index: 9;
}
#cageGeneralDefense {
	background: #000;
	color: #FFF;
	height: 19px;
	opacity: 0.75;
	padding-top: 18px;
	position: absolute;
	right: 103px;
	text-align: center;
	top: 58px;
	width: 24px;
	z-index: 3;
}
#cageAllGenerals > div > img:last-of-type, #cageFavouriteGenerals > div > img:last-of-type {
	background-color: #000;
	border-bottom-right-radius: 4px;
	border-top-left-radius: 4px;
	cursor: pointer;
	margin-left: -16px;
	opacity: 0.7;
	padding: 3px;
	position: relative;
	width: 10px;
}
#cageFavouriteGenerals > div:hover, #cageFavouriteGenerals > div > img:first-child:hover {
	box-shadow: 0 0 10px 2px #26b3f7;
}